html,
body{
  height: 100%;
  @extend %montserrat-400;
  color: $black;
  font-size: 15px;
}
.container{
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 15px;
}
.title{
  @extend %ptsans-700;
  text-align: center;
  margin-bottom: 60px;
}